* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 123, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

label {
    color: rgb(255, 123, 0);
    font-size: 25px;
    font-weight: 40;
    display: block;

}

.somar {
    background-color: black;
    width: fit-content;
    height: fit-content;
    border: 4px solid rgb(158, 97, 6);
    border-radius: 30px;
    padding: 30px;
    margin: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 30px 30px 30px -12px red;
}


input {
    width: 80%;
    font-size:x-large;
    border-radius: 15px;
    background-color: transparent;
    color: white;
    padding: 15px;

}

.botao {
    background-color: rgb(149, 170, 115);
    font-size: 20px;
    padding:5px;
    border-radius: 30px;
    display: block;
    margin-top: 50px;
}

